body{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;
}
.head{
    background-color:orange;
    color:white;
    font-size: 50px;
    text-align: center;
    border-radius:20px ;
}
.product{
    align-items: center;
    margin: 20px;
    border: 2px solid rgb(80, 80, 80);
    padding: 20px;
    background-color:aliceblue;
    padding: 5px 10px; 
    border-radius: 5px; 
    display: inline;
}
.price{
    display: flex;
    flex-direction: row;
    align-content: space-between;
}
.promo{
    display: flex;
    flex-direction: row;
    align-content: space-between;
}