body {
    background: linear-gradient(to left, black, blue, aqua);
    opacity: 100%;
}
.product {
    display: inline-block;
    align-items: center;
    margin: 20px;
    border: 2px solid black;
    padding: 20px;
    background-color: aliceblue; 
    padding: 5px 10px; 
    border-radius: 5px; 
  }
  
  .product img {
    width: 200px;
    height: 200px;
    margin-right: 20px;
  }
  
  .info {
    flex: 1;
  }
  
  .info h2 {
    font-size: 24px;
    margin: 0 0 10px 0;
  }
  
  .info p {
    font-size: 18px;
    margin: 0 0 10px 0;
  }
  
  .info ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 10px 0;
  }
  
  .info ul li {
    display: inline;
    margin-right: 10px;
  }
  
  .info ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    background-color: aqua; 
    padding: 5px 10px; 
    border-radius: 5px;
  }
  