body {
    background: linear-gradient(to right, aliceblue, lightgrey);
    opacity: 100%;
}
.product {
    display: inline-block;
    align-items: center;
    margin: 20px;
    border: 2px solid rgb(80, 80, 80);
    padding: 20px;
    background-color:aliceblue;
    padding: 5px 10px; 
    border-radius: 5px; 
  }
  .product:hover{
    background-color: lightgrey;
  }
  
  .product img {
    width: 200px;
    height: 200px;
    margin-right: 20px;
  }
  
  .info {
    flex: 1;
  }
  
  .info h2 {
    font-size: 24px;
    margin: 0 0 10px 0;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 10px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  ul li {
    display: inline;
    margin-right: 10px;
  }
  
  ul li a {
    text-decoration: none;
    color: aliceblue;
    font-size: 16px;
    background-color: rgb(80, 80, 80); 
    padding: 5px 10px; 
    border-radius: 5px;
  }
  ul li a:hover {
    color: rgb(80, 80, 80);
    background-color: aliceblue;
  }
  